@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-color: black;
    --Open-Sans : "Open Sans", system-ui;
    --space-grotesk: "Space Grotesk", sans-serif;
    --light-grey: #d2d2d2;
    --Nunito-Sans: "Nunito Sans", system-ui;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 30px;
    width: 80%;
}

.logo a{
    text-decoration: none;
    font-family: "Satisfy", cursive;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--black-color);
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap:30px;
}

nav ul a{
    text-decoration: none;
    color: var(--black-color);
    list-style: none;
    font-family: var(--Open-Sans);
}

nav ul a:hover{
  color: blue;
}

/*  */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 30px;
    
}

.hero h1{
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--space-grotesk);
}

.hero h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--Open-Sans);
}

#down{
    margin-top: 60px;
}

/* About */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    padding: 80px;
}

.about-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--space-grotesk);
    width: 100%;
    font-size: 1.5rem;
}

.about-header span{
    background-color: var(--black-color);
    height: 1.5px;
    width: 300px; 
}

.about-container{
    margin-top: 50px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    width: 70%;
    gap: 5%;
    font-family: var(--Open-Sans);
    text-align: right;
    line-height: 30px;
    font-size: 1.1rem;
}

/* Profile */

.profile{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    padding: 80px;;
}

.profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--space-grotesk);
    width: 100%;
    font-size: 1.5rem;
}

.profile-header span{
    background-color: var(--black-color);
    height: 1.5px;
    width: 300px; 
}

/* Table */

table{
    border-collapse: collapse;
    font-size: 1.3rem;
    width: 700px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: var(--Nunito-Sans);
    margin-top: 50px;

}

table tr td:nth-child(1){
    padding: 20px;
    font-weight: 700;
}

table tr:nth-of-type(even){
    background-color: var(--light-grey);
}

/* Goals */

.goals{
    background-color: var(--light-grey);
}

.goals-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.goals-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--space-grotesk);
    width: 100%;
    font-size: 1.5rem;
}

.goals-header span{
    background-color: var(--black-color);
    height: 1.5px;
    width: 300px; 
}

.goals-text{
    display: flex;
    gap: 50px;
    width: 70%;
    font-family: var(--Nunito-Sans);
    text-align: right;
    margin-top:50px;
    font-size: 1.1rem;
    line-height: 30px;
}

/* CONTACT */


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}

.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--space-grotesk);
    width: 100%;
    font-size: 1.5rem;
    padding: 50px;
}

.footer-header span{
    background-color: var(--black-color);
    height: 1.5px;
    width: 300px; 
}

.message{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: var(--Nunito-Sans);
}

.message p{
    width: 60%;
    text-align: center;
}

.message a{
    text-decoration: none;
    border: 1.5px solid rgba(75, 74, 74, 0.637);
    color: var(--black-color);
    padding: 10px;
    border-radius: 10px;
}

.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--space-grotesk);
}

